body {
    background-color: #747070;
    margin: 0;
    padding: 0;
}

nav {
    height: 70px;
    display: flex;
    margin-bottom: 100px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

.contenido_index {
    background-color: #747070;
    color: #000000;
}

header {
    display: flex;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    justify-content: space-between;
    align-items: baseline;
}

.logotipo {
    display: flex;
}

header img {
    height: 50px;
    margin: 15px;
}

.boton {
    width: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #fcfcfc;
}

h2,
p {
    color: #ffffff;
}

p {
    text-align: center;
}

footer {
    background-color: #1c1c1c;
    padding: 20px 1% 5px 1%;
    margin-top: 60px;
    display: flex;
    height: 200px;
    justify-content: space-between;
    color: #fcfcfc;
}

.divisiones {
    text-align: center;
}

aside {
    text-align: center;
    background-image: url(assets/fondo\ negro.jpg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
    width: 1200px;
    margin: 0 auto;
}

.text-aside {
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
}

.iconos {
    height: 40px;
    width: 40px;
}

.img-viaje {
    width: 300px;
    height: 300px;

}

.texto {
    color: #000000;
}

.caja-destino {
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    background-color: #747070;
}

.boton1,
.tit {
    text-align: center;
    color: #000000;
}

.info-viajes {
    margin: 5px;
}


.caja-destino2 {
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid rgb(0, 0, 0);
    background-color: #747070;
}

.boton-destino {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.al {
    list-style-type: none;
}

/* parte pagina ofertas */



.tabla {
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    background-color: #747070;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    color: #fcfcfc;
}

th {
    padding-left: 150px;
}

.ofertas {

    text-align: center;
}

/* parte pagina contactos*/

.formulario {
    color: #fcfcfc;
    text-align: center;
    margin: 120px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.texto-formulario {
    color: #fcfcfc;
    text-align: center;
    margin: 120px;
}

.formu {
    display: flex;
    background-color: #452b52;
    justify-content: center;
    border: 3px solid #000000;
    background-image: url(assets/avion-atardecer.png.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-position-x: right;
}

.body-contactos{
    background-color: #4a4050;
}

